@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  /* border: 3px solid var(--primary); */
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  height: 2px;
  width: 24px;
  top: 0;
  left: 0;
  border-radius: 8px;
  background: black;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-top {
  width: 15px;
}

.hamburger-middle {
  transform: translateY(7px);
  width: 20px;
}

.hamburger-bottom {
  transform: translateY(14px);
  width: 10px;
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  width: 24px;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  width: 24px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}